.cli{
    .grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "img img"
        "img img";
    }

    img{
        grid-area: img;
    }
    
    @media (max-width: 768px) {
        .grid{
            grid-template-areas: 
            "img";
        }
    }
}