.cloud{
    background: var(--primary-color);
    

    .grid{
        grid-template-columns: 4fr 3fr;
    }
    
    .text-center{
        text-align: center;
        color: #fff;

        h1{
            font-size: 3rem;
        }

        p{
            font-size: 20px;
        }
    }
}