.showcase{
    height: 400px;
    background-color: var(--primary-color);
    position: relative;
    color: #fff;

    h1{
        font-size: 40px;
    }

    p{
        margin: 20px 0;
    }

    .showcase-text{
        animation: slideInLeft 1s ease-in;
    }

    .grid{
    grid-template-columns: 55% auto;
    gap: 30px;
    overflow: visible;
    }

    &-form{
        position: relative;
        background: #fff;
        color: #333;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        padding: 40px;
        margin: 10px;
        top: 60px;
        height: 350px;
        width: 400px;
        z-index: 100;
        animation: slideInRight 1s ease-in;

        @media (max-width: 500px) {
            width: 300px;
        }

        form{

            .form-control{
                margin: 30px 0 ;

                input[type="text"],[type="email"]{
                  border: none;
                  border-bottom: 1px solid #b4becb;
                  width: 100%;
                  padding: 3px;
                  font-size: 16px;
                  outline: none;
                }
                
            }
        }
    }

    &::before,
    &::after{
        content: '';
        position: absolute;
        height: 100px;
        bottom: -70px;
        right: 0;
        left: 0;
        background: #fff;
        transform: skewY(-3deg);
    }

    @media (max-width: 768px) {
        height: auto;

        &-text{
            text-align: center;
            margin-top: 40px;
        }

        &-form{
            justify-self: center;
            margin: auto;
        }
    }
}
 